<mat-toolbar>

  <span>{{service.form.controls['id'].value?"Edit User":"Enter New User"}}</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1">
      <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar>

<form [formGroup]="service.form" (ngSubmit)="onFormSubmit()" class="normal-form">
  <mat-grid-list cols="1" rowHeight="90px">
      <mat-grid-tile>
          <div class="controles-container">
              <input type="hidden" formControlName="id">


              <mat-form-field >
                  <input  formControlName="name" matInput placeholder="User Name">
              </mat-form-field>

              <mat-form-field >
                <input  formControlName="password" matInput placeholder="Password">
            </mat-form-field>


          </div>
      </mat-grid-tile>
      <mat-grid-tile>
          <div class="controles-container">

              <div class="button-row">
                  <!-- [disabled]="service.form.invalid" -->
                  <button mat-raised-button color="primary" type="submit">Save</button>
                  <button id='buttonReset' mat-raised-button color="warn" type="reset">Clear All</button>
              </div>
          </div>
      </mat-grid-tile>
  </mat-grid-list>
</form>



